---
interface Props {
    link: string;
}

const {link} = Astro.props;
---

<a
    href={link}
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="relative flex justify-center items-center hover:bg-gray-100 active:bg-gray-200 rounded-lg p-1.5 transition-colors duration-200 [&_svg]:stroke-gray-600 [&_svg]:hover:stroke-gray-700 [&_svg]:w-6 [&_svg]:h-6"
>
    <slot />
</a>
