---
import Badge from "../components/Badge.astro";
import HeadlineContainer from "../components/Main/HeadlineContainer.astro";
import Skill from "../components/Main/Skill/Skill.astro";
import Proyect from "../components/Main/Proyect/Proyect.astro";
import SectionContainer from "../components/Main/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import ProyectIcon from "../components/icons/ProyectIcon.astro";
import Person from "../components/icons/Person.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Portfolio Daniel Rodado - Desarrollador Web Full Stack Java"
    description="Full Stack Developer especializado en Java, Spring Boot, JavaScript y Vue.js. Con experiencia en proyectos integrales, desarrollo de servicios RESTful y gesti칩n de bases de datos PostgreSQL. Formado en metodolog칤as 치giles como SCRUM, con capacidad para adaptarse r치pidamente a nuevas tecnolog칤as y compromiso con soluciones de alta calidad."
>
    <SectionContainer className="flex flex-col gap-y-4 pt-10 md:pt-32">
        <div class="flex items-center gap-x-4">
            <img
                class="w-20 rounded-full"
                src="/images/img-personal.webp"
                alt="Daniel Rodado webp"
            />
            <a
                href="https://www.linkedin.com/in/daniel-rodado-b24432210/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Badge>Disponible para trabajar</Badge>
            </a>
        </div>
        <h2 class="text-white text-3xl sm:text-4xl font-bold md:text-5xl">
            Hey, soy Daniel
        </h2>
        <h3
            class="text-base text-gray-300 text-balance [&>strong]:text-yellow-200 [&>strong]:font-semibold sm:text-lg md:text-xl"
        >
            Soy un <strong>Desarrollador Web Full Stack</strong>. He trabajado
            en proyectos completos,
            <span class="text-gray-400/90"
                >desde el dise침o hasta la imprementaci칩n</span
            >, implementando servicios RESTful y gestionando bases de datos con
            PostgreSQL. Formado en <span class="text-gray-400/90"
                >metodolog칤as 치giles como SCRUM</span
            >, colaboro eficientemente en equipos multidisciplinarios. Me adapto
            r치pidamente a
            <span class="text-gray-400/90">nuevas tecnolog칤as</span> y estoy comprometido
            con la
            <span class="text-gray-400/90"
                >entrega de soluciones de alta calidad</span
            >.
        </h3>
        <div class="flex gap-4">
            <SocialPill
                href="https://www.linkedin.com/in/daniel-rodado"
                socialNetwork="LinkedIn"
            >
                <LinkedInIcon />
            </SocialPill>
            <SocialPill
                href="https://www.github.com/DanielRodado/"
                socialNetwork="GitHub"
            >
                <GitHubIcon />
            </SocialPill>
        </div>
        <div class="flex items-center gap-2 opacity-90 text-white">
            <svg
                class="size-4 md:size-6"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                    d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                ></path></svg
            >
            <p class="text-sm md:text-base">Barranquilla, Colombia 游뻟릖</p>
        </div>
    </SectionContainer>
    <SectionContainer id="proyectos">
        <HeadlineContainer>
            <ProyectIcon slot="svg" />
            Proyectos
        </HeadlineContainer>
        <ul class="flex flex-col items-center gap-8 md:gap-12">
            <Proyect />
        </ul>
    </SectionContainer>
    <SectionContainer id="habilidades">
        <HeadlineContainer>
            <CodeIcon slot="svg" />
            Habilidades
        </HeadlineContainer>
        <div
            class="grid grid-cols-3 gap-y-4 md:grid-cols-6 md:gap-y-8 lg:gap-y-12"
        >
            <Skill />
        </div>
    </SectionContainer>
    <SectionContainer id="sobre-mi">
        <HeadlineContainer>
            <Person slot="svg" />
            Sobre m칤
        </HeadlineContainer>
        <div class="[&>p]:text-gray-300 [&>p]:text-balance [&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono lg:pr-36">
            <p>
                Desde ni침o, siempre he tenido curiosidad por la tecnolog칤a. Mi
                primer encuentro con la programaci칩n fue cuando tuve mi primera
                computadora, a los 15 a침os.
            </p>
            <p>
                En mi tiempo libre, disfruto explorando nuevas herramientas y
                frameworks para construir nuevos proyectos. <strong>Me gusta colaborar
                con otros desarrolladores y aprender de sus enfoques y
                experiencias</strong>. Adem치s, me gusta mantenerme activo y pasar tiempo
                al aire libre.
            </p>
            <p>
                Valoro la educaci칩n continua y el crecimiento profesional.
                Siempre busco oportunidades para ampliar mis conocimientos y
                aprender continuamente nuevas t칠cnicas para mejorar mis
                habilidades. <strong>Mi compromiso es mejorar cada d칤a y ofrecer el
                mejor trabajo posible en cada proyecto en el que participo</strong>.
            </p>
            <p>
                Simplemente me gusta hacer lo que hago.
            </p>
        </div>
    </SectionContainer>
</Layout>

<!-- Soy un <strong>Desarrollador Web Full Stack</strong>. 
            He trabajado en proyectos completos, 
            <span class="text-gray-400/90">desde el dise침o hasta la imprementaci칩n</span>, 
            implementando servicios RESTful y gestionando bases de datos con PostgreSQL.
            Formado en <span class="text-gray-400/90">metodolog칤as 치giles como SCRUM</span>, 
            colaboro eficientemente en equipos multidisciplinarios. Me adapto r치pidamente a 
            <span class="text-gray-400/90">nuevas tecnolog칤as</span> y estoy comprometido con la 
            <span class="text-gray-400/90">entrega de soluciones de alta calidad</span>. -->
