---
import Badge from "../components/Badge.astro";
import Pill from "../components/Pill.astro";
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio Daniel Rodado - Desarrollador Web Full Stack Java">
    <section
        class="w-full mx-auto flex flex-col gap-y-4 py-32 px-4 md:px-0 md:max-w-screen-md"
    >
        <div class="flex items-center gap-x-4">
            <img
                class="w-20 rounded-full"
                src="/img-personal.webp"
                alt="Daniel Rodado webp"
            />
            <a
                href="https://www.linkedin.com/in/daniel-rodado-b24432210/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Badge>Disponible para trabajar</Badge>
            </a>
        </div>
        <h2 class="text-white text-4xl font-bold">Hey, soy Daniel</h2>
        <h3
            class="text-xl text-gray-300 text-pretty [&>strong]:text-yellow-200 [&>strong]:font-semibold"
        >
            Soy un <strong>Desarrollador Web Full Stack</strong>. He trabajado
            en proyectos completos,
            <span class="text-gray-400/90"
                >desde el dise침o hasta la imprementaci칩n</span
            >, implementando servicios RESTful y gestionando bases de datos con
            PostgreSQL. Formado en <span class="text-gray-400/90"
                >metodolog칤as 치giles como SCRUM</span
            >, colaboro eficientemente en equipos multidisciplinarios. Me adapto
            r치pidamente a
            <span class="text-gray-400/90">nuevas tecnolog칤as</span> y estoy comprometido
            con la
            <span class="text-gray-400/90"
                >entrega de soluciones de alta calidad</span
            >.
        </h3>
        <div class="flex gap-4">
            <Pill
                href="https://www.linkedin.com/in/daniel-rodado"
                socialNetwork="LinkedIn"
            >
                <LinkedIn />
            </Pill>
            <Pill
                href="https://www.github.com/DanielRodado/"
                socialNetwork="GitHub"
            >
                <GitHub />
            </Pill>
        </div>
        <div class="flex items-center gap-2 opacity-90 text-white">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                    d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                ></path></svg
            >
            <p class="text-base">Barranquilla, Colombia 游뻟릖</p>
        </div>
    </section>
</Layout>

<!-- Soy un <strong>Desarrollador Web Full Stack</strong>. 
            He trabajado en proyectos completos, 
            <span class="text-gray-400/90">desde el dise침o hasta la imprementaci칩n</span>, 
            implementando servicios RESTful y gestionando bases de datos con PostgreSQL.
            Formado en <span class="text-gray-400/90">metodolog칤as 치giles como SCRUM</span>, 
            colaboro eficientemente en equipos multidisciplinarios. Me adapto r치pidamente a 
            <span class="text-gray-400/90">nuevas tecnolog칤as</span> y estoy comprometido con la 
            <span class="text-gray-400/90">entrega de soluciones de alta calidad</span>. -->
