<header class="flex justify-center">
    <nav
        class="flex gap-x-5 py-3 *:transition-all *:ease-in-out *:text-sm *:text-gray-300 *:font-medium *:md:text-base md:gap-x-10 md:py-6"
    >
        <a href="#proyectos" class="hover:text-gray-100">Proyectos</a>
        <a href="#habilidades" class="hover:text-gray-100">Habilidades</a>
        <a href="#sobre-mi" class="hover:text-gray-100">Sobre mí</a>
        <a href="mailto:danielrodado2@gmail.com" class="hover:text-gray-100">Contacto</a>
    </nav>
</header>
<style></style>
