<header class="flex justify-center sticky top-0 z-50">
    <nav class="flex gap-x-5 py-3 text-white md:py-6 opacity-90 *:text-sm *:md:text-base md:gap-x-10">
        <a href="#proyectos">Proyectos</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="mailto:danielrodado2@gmail.com">Contacto</a>
    </nav>
</header>
