<header class="flex justify-center">
    <nav
        class="flex gap-x-5 py-3 md:py-6 *:text-gray-200 *:text-sm *:md:text-base md:gap-x-10"
    >
        <a href="#proyectos">Proyectos</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="mailto:danielrodado2@gmail.com">Contacto</a>
    </nav>
</header>
<style></style>
